<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <div class="main-nav">
        <nav class="navbar">
            <h3 class="logo" style="margin:0; padding-left:10px;">
              <a href="/" style="color:white; text-decoration:none;">Sheltr</a>
            </h3>
            <div class="tagline">
                 <span>A Place to Rest, A Path to Rebuild</span>
            </div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/evacuee/shelters">Shelters</a></li>
                <li><a href="/volunteer">Host Dashboard</a></li>
                <a href="/login"><button>Login</button></a>
                <a href="/signup"><button>Sign Up</button></a>
            </ul>
        </nav>
    </div>
    <div class="container">
        <%- body %>
    </div>

    <script src="/js/client.js"></script>
</body>
</html>